@media only screen and (min-width: 1023px){
 @keyframes 
curveIn {  0% {
 opacity: 0;
 transform: matrix(1.4488, -0.3882, 0.3882, 1.4489, 400, -100);
}
 33% {
 opacity: 0.5;
 transform: matrix(-1, 0.1, -0.1, -1.1, -100, 50);
 transform: rotateX(90deg);
}

to {
  opacity: 1;
  -webkit-transform: none;
  transform: none
}


.curveIn {
  -webkit-animation-name: curveIn;
  animation-name: curveIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}












}